[submodule "modules/clap"]
	path = modules/clap
	url = https://github.com/free-audio/clap
[submodule "modules/webview-gui"]
	path = modules/webview-gui
	url = https://github.com/geraintluff/webview-gui.git
[submodule "modules/wclap-cpp"]
	path = modules/wclap-cpp
	url = https://github.com/WebCLAP/wclap-cpp.git
[submodule "modules/choc"]
	path = modules/choc
	url = https://github.com/Tracktion/choc.git
